<!-- Windows Titlebar Style -->
<div class="ui-titlebar" *ngIf="window">
    <!--<div class="ui-titleicon"></div>-->
    <div class="ui-titletext"></div>
    <div class="ui-titlecontrols">
      <button class="ui-btn minimize" (click)="minimize()">
        <svg x="0px" y="0px" viewBox="0 0 10.2 1"><rect x="0" y="50%" width="10.2" height="1" /></svg>
      </button><button class="ui-btn maximize" (click)="maximize()">
      <svg viewBox="0 0 10 10"><path d="M0,0v10h10V0H0z M9,9H1V1h8V9z" /></svg>
      </button><button class="ui-btn exit"(click)="exit()">
      <svg viewBox="0 0 10 10"><polygon points="10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1" /></svg>
      </button>
    </div>
</div>

<!-- Loading Bar -->
<ngx-loading-bar color="#3f51b5" includeSpinner="false" height="3px"></ngx-loading-bar>

<div class="page" perfectScrollbar>
  <router-outlet></router-outlet>
</div>

