html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent !important;
}

// window
.window {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
  .window-bar {
    flex: 1;
    z-index: 99999;
  }
  
  .window-page {
    flex: 1;
    display: flex-grow;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .page {
      height: calc(100vh - 33px) !important;
    }
  }
}

// perfectScrollbar
.ps {
  overflow: hidden!important;
  touch-action: auto;
  -ms-overflow-style: none;
  overflow-anchor: none;
}

.ps__rail-x {
  bottom: 0;
  height: 15px
}

.ps__rail-x,.ps__rail-y {
  position: absolute;
  display: none;
  opacity: 0;
  transition: background-color .2s linear,opacity .2s linear
}

.ps__rail-y {
  width: 15px
}

html:not([dir=rtl]) .ps__rail-y {
  right: 0
}

[dir=rtl] .ps__rail-y {
  left: 0
}

.ps--active-x>.ps__rail-x,.ps--active-y>.ps__rail-y {
  display: block;
  background-color: transparent
}

.ps--focus>.ps__rail-x,.ps--focus>.ps__rail-y,.ps--scrolling-x>.ps__rail-x,.ps--scrolling-y>.ps__rail-y,.ps:hover>.ps__rail-x,.ps:hover>.ps__rail-y {
  opacity: .6
}

.ps__rail-x:focus,.ps__rail-x:hover,.ps__rail-y:focus,.ps__rail-y:hover {
  background-color: #eee;
  opacity: .9
}

.ps__thumb-x {
  bottom: 2px;
  height: 6px;
  transition: background-color .2s linear,height .2s ease-in-out
}

.ps__thumb-x,.ps__thumb-y {
  position: absolute;
  background-color: #aaa;
  border-radius: 6px
}

.ps__thumb-y {
  width: 6px;
  transition: background-color .2s linear,width .2s ease-in-out
}

html:not([dir=rtl]) .ps__thumb-y {
  right: 2px
}

[dir=rtl] .ps__thumb-y {
  left: 2px
}

.ps__rail-x:focus>.ps__thumb-x,.ps__rail-x:hover>.ps__thumb-x {
  height: 11px;
  background-color: #999
}

.ps__rail-y:focus>.ps__thumb-y,.ps__rail-y:hover>.ps__thumb-y {
  width: 11px;
  background-color: #999
}

@supports (-ms-overflow-style: none) {
  .ps {
      overflow:auto!important
  }
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
  .ps {
      overflow: auto!important
  }
}

/* TITLEBAR AT TOP */
.ui-titlebar {
    display: flex;
    width: auto;
    height: 33px;
    user-select: none;
    cursor: default;
    -webkit-app-region: drag;
    z-index: 1020;
    background: rgba(27,29,38,1);
    top: 0;
    left: 0;
    right: 0;
  }
  
  .ui-titleicon {
    flex-grow: 1;
    max-width: 32px;
    max-height: 32px;
  }
  
  .ui-titletext {
    flex-grow: 2;
    max-height: 32px;
    width: auto;
    font: 14px/34px;
    color: rgba(255,255,255,.1);
    text-indent: 10px;
    letter-spacing: 2px;
  }
  
  .ui-titlecontrols {
    max-width: 144px;
    max-height: 32px;
    flex-grow: 1;
  }
  
  .ui-btn {
    margin: 0;
    width: 48px;
    height: 32px;
    border: 0;
    outline: 0 !important;
    background: transparent;
    -webkit-app-region: no-drag;
    -webkit-transition: background 100ms linear;
  
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  
    &.exit:hover {
      background: #e81123;
    }
  
    svg {
      path, rect, polygon {
        fill: #fff;
      }
  
      width: 10px;
      height: 10px;
      vertical-align: unset !important;
    }
}

/* IMPORTS */

// import frotend LITE edition for the authentication pages
@import "~@exordium/scss-frontend/src/theme-lite.scss";

// import general plugins for both the frontend lite design and backend design
@import "~@exordium/scss-plugins/src/plugins.scss";
